<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{getAppTitle}} </title>

   <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
   <link rel='stylesheet' href='/css/simple-sidebar.css' />
</head>
<body>
  <div class="d-flex" id="wrapper">
    <!-- /#sidebar-wrapper -->
    {{> sidebar}}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      {{> navbar}}

      <div class="container-fluid">