
<nav class="navbar navbar-expand-lg navbar-light bg-light-blue border-bottom">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                {{#if session }}
                   <a class="nav-link" href="/logout"> {{nombre}} Salir</a>
                   
                {{else}}
                  <a class="nav-link" href="/login"> Ingresa</a>
                {{/if}}
            </li>
          </ul>
        </div>
</nav>