    <!-- Sidebar -->
    <div class="bg-dark-blue " id="sidebar-wrapper">
      <div class="sidebar-heading bg-light-blue"> Gestión académica </div>
     
        <div class="list-group list-group-flush border-right">
             {{#if session }}
             {{#if admin }}
                <a href="/create-course" class="list-group-item list-group-item-action bg-light">Crear cursos</a>
                <a href="/view-courses" class="list-group-item list-group-item-action bg-light">Listar Cursos</a>
                <a href="#" class="list-group-item list-group-item-action bg-light">Ver inscritos</a>
             {{/if}}   
              <a href="/" class="list-group-item list-group-item-action bg-light">Inscripción</a>
                
            {{/if}}
        </div>

    </div>